**Homework - Sprint 04 - Data transformation**

**NYC Flights 2013 Analysis**

In [1]:
library(dplyr)
library(tidyverse)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
Warning message:
“Failed to locate timezone database”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ stringr 1.4.0
✔ tidyr   1.1.4     ✔ forcats 0.5.1
✔ readr   2.0.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()

In [2]:
flights <- read_csv("flights.csv")
airlines <- read_csv("airlines")

Rows: 336776 Columns: 19

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (4): carrier, tailnum, origin, dest
dbl  (14): year, month, day, dep_time, sched_dep_time, dep_delay, arr_time, ...
dttm  (1): time_hour


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

New names:
* `` -> ...1

Rows: 16 Columns: 3

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): carrier, name
dbl (1): ...1


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Preview Data

In [3]:
glimpse(flights)

Rows: 336,776
Columns: 19
$ year           <dbl> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <dbl> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <dbl> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <dbl> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <dbl> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <dbl> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 10:00:00, 2013-01-01 10:00:00, 2013-01-01 1…

Q1.Top 5 months that has the most flights arrange by total flights

In [4]:
flights%>%
  group_by(month)%>%
  count()%>%
  arrange(desc(n))%>%
  rename(total_flights=n)%>%
  head(5)

month,total_flights
<dbl>,<int>
7,29425
8,29327
10,28889
3,28834
5,28796

Q2.Carrier that has most flights in Fourth Quarter

In [5]:
flights%>%
  filter(between(month,10,12))%>%
  count(carrier)%>%
  left_join(airlines,by = "carrier")%>%
  arrange(desc(n))%>%
  rename(total_flights=n)%>%
  select(total_flights,carrier,name)

total_flights,carrier,name
<int>,<chr>,<chr>
14845,UA,United Air Lines Inc.
13686,EV,ExpressJet Airlines Inc.
13391,B6,JetBlue Airways
12035,DL,Delta Air Lines Inc.
7997,AA,American Airlines Inc.
6423,MQ,Envoy Air
5150,US,US Airways Inc.
4901,9E,Endeavor Air Inc.
3223,WN,Southwest Airlines Co.
1399,VX,Virgin America
651,FL,AirTran Airways Corporation
179,F9,Frontier Airlines Inc.
168,AS,Alaska Airlines Inc.
165,YV,Mesa Airlines Inc.
74,HA,Hawaiian Airlines Inc.
5,OO,SkyWest Airlines Inc.

Q.3 Top 10 airports that people from JFK mostly go

In [6]:
flights%>%
  filter(origin=="JFK",between(month,1,3))%>%
  count(dest)%>%
  arrange(desc(n))%>%
  head(10)

dest,n
<chr>,<int>
LAX,2731
SFO,1934
BOS,1428
MCO,1372
FLL,1304
SJU,1217
LAS,846
MIA,823
BUF,819
RDU,812

Q.4 Date in September that UA has most flights

In [7]:

flights%>%
  filter(month == 9,carrier=="UA")%>%
  group_by(day)%>%
  count()%>%
  arrange(desc(n))%>%
  rename(total_flights=n)%>%
  head(10)

day,total_flights
<dbl>,<int>
26,176
27,176
30,175
25,172
5,169
6,168
9,168
13,168
16,168
20,168

Q.5 Carrier that has most delay (times) in December 2013 only arrival delayed

In [8]:

flights%>%
  filter(month == 12,)%>%
  group_by(carrier)%>%
  mutate(delayed = if_else(arr_delay>0,1,0,0))%>%
  summarise(total_delay=sum(delayed))%>%
  arrange(desc(total_delay))
  tibble()

carrier,total_delay
<chr>,<dbl>
B6,2900
UA,2717
EV,2263
DL,1739
AA,1151
MQ,1068
WN,729
9E,715
US,639
VX,226
FL,149
F9,39
AS,31
YV,20
HA,8